* {
    padding: 0;
    margin: 0;
}

.headerMessage {
    margin-top: 10px;
    font-family: Arial;
    text-align: center;
}

.gameContainer {
    margin: 25px;
}

canvas {
    background: black;
    display: block;
    margin: 0 auto;
}